/* basic structure*/
*{
  margin:0;
  padding:0;
  box-size:border-box;
}
/*body which has font and background*/
body{
  font:Arial,sans-serif;
  background:#f8f6f2;
}
/* navigation bar style*/
nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 25px;
  background:white;
  border-bottom:1px solid #ddd;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
