/* basic structure*/
*{
  margin:0;
  padding:0;
  box-size:border-box;
}
/*body which has font and background*/
body{
  font:Arial,sans-serif;
  background:#f8f6f2;
}
/* navigation bar style*/
nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 25px;
  background:white;
  border-bottom:1px solid #ddd;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo-circle{
    width: 55px;
    height: 55px;

    background: #2E7D32;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    font-size: 30px;

    font-weight: bold;
}

.logo h1{
    font-size: 40px;
    font-family: Georgia, serif;
}
.nav-icons{
    display: flex;
    gap: 15px;
}
.icon-btn{
    width: 55px;
    height: 55px;

    border: 2px solid #ddd;

    background: white;

    border-radius: 18px;

    font-size: 22px;

    cursor: pointer;
}
.hero{
    padding: 30px 20px;
}

.hero-content{
    background: #2E7D32;
    color: white;

    border-radius: 35px;

    padding: 60px 30px;

    text-align: center;
}

.order-btn{
    background: #5b8c51;

    color: white;

    border: none;

    padding: 12px 25px;

    border-radius: 30px;

    font-size: 18px;

    margin-bottom: 25px;

    cursor: pointer;
}

.hero-content h2{
    font-size: 48px;

    line-height: 1.2;

    margin-bottom: 20px;
}

.hero-content p{
    font-size: 20px;

    line-height: 1.6;

    max-width: 600px;

    margin: auto;
  }
.categories{
    display: flex;
    gap: 15px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.category{
    background: white;
    border: 2px solid #ddd;
    border-radius: 30px;
    padding: 12px 22px;
    font-size: 16px;
    cursor: pointer;
}

.active{
    background: #2E7D32;
    color: white;
    border: none;
}
